<div ng-controller="ChartsCtrl as charts" class="row">
    <div class="col-md-9">
        <div class="row" style="margin-bottom:25px;"> </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel c8y" style="padding: 20px;">
                    <ng-include src="'views/charts.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <label>Device Name</label>
                <input class="form-control uneditable-input" type="text"  placeholder="{{device.name}}">

            </div>
            <div class="form-group">
                <label>Device Owner</label>
                <input class="form-control" type="text" ng-model="charts.fragmentType" placeholder="{{device.owner}}" required>
            </div>
            <div class="form-group">
                <label>Device Type</label>
                <input class="form-control" type="text" ng-model="charts.fragmentType" placeholder="{{device.type}}" required>
            </div>
            <div class="form-group">
                <label>Series Number</label>
                <input class="form-control" type="text" ng-model="charts.series" placeholder="{{device.sn}}" required>
            </div>
            <div class="form-group">
                <label>Creation Time</label>
                <input class="form-control" type="text" ng-model="charts.series" placeholder="{{device.creationTime}}" required>
            </div>
            <div class="form-group">
                <label>LastUpdate</label>
                <input class="form-control" type="text" ng-model="charts.series" placeholder="{{device.lastUpdated}}" required>
            </div>
            <div class="form-group">
                <label>Current Measurement</label>
                <input class="form-control" type="text" ng-model="charts.series" placeholder="{{device.lastUpdated}}" required>
            </div>
        </form>

    </div>
    <div>
